@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee {
	position: absolute;
	white-space: nowrap;
	-webkit-animation: right 4s linear;
}

@-webkit-keyframes right {
	0% {
		left: 0%;
	}
	50% {
		left: 100%;
	}
	100% {
		left: 0%;
	}
}
